p {
    float: left;
    font-size: 1.5vw;
    justify-content: center;
}

.link {
    display: block;
    clear: both;
    justify-content: center;
}

.logos {
    float: left;
    margin-left: 20px;
}