.hr-wide {
    width: 90%;
    clear: both;
}

.project1 {
    margin-top: 50px;
    height: 250px;
}

.proj1-text {
    float: left;
    width: 65%;
}

.proj1-img {
    float: right;
    width: 30%;
}

.project2 {
    margin-top: 80px;
    height: 250px;
}

.proj2-text {
    float: left;
    width: 65%;
}

.proj2-img {
    float: right;
    width: 30%;
}

.project3 {
    margin-top: 80px;
    height: 250px;
}

.proj3-text {
    float: left;
    width: 65%;
}

.proj3-img {
    float: right;
    width: 30%;
}