@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  /* 40%, 60% { transform: translate3d(0, 50%, 0); } */
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.sidebar {
  float: left;
  width: 22%;
  height: 100vh;
  position: fixed;
}

.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.animated-title>div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.animated-title>div div {
  font-size: 3vw;
  /* position: absolute; */
}

.animated-title>div div span {
  display: block;
}

.animated-title>div.text-top {
  border-bottom: 5px solid #000;
  top: 0;
}

.animated-title>div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}


.animated-title>div.text-bottom {
  bottom: 0;
}

.animated-title>div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.text-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-content {
  width: 90%;
  height: 90%;
}

.aaron-suit {
  width: 90%;
  height: 90%;
}

.top-box {
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}