hr {
  width: 50%;
}

.App {
  text-align: center;
}

.inline-block {
  display: inline-block;
  height: 3em;
  width: 3em;
  margin: 10px;
}

.content {
  float: right;
  width: 70%;
  padding-right: 30px;
}

.logo {
  pointer-events: none;
  height: 100%;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: 1s linear infinite alternate slidein;

  }
}

@keyframes slidein {
  from {
    transform: scaleX(.6);
  }

  to {
    transform: scaleX(1);
  }
}

@media only screen and (max-width: 600px) {
  .content {
    float: none;
    width: auto;
    padding: 20px;
  }
}