.App {
  text-align: center;
}

.inline-block {
  display: inline-block;
  height: 3em;
  width: 3em;
  margin: 10px;
}

.brand-statement-wrapper {
  width: 80%;
  margin: auto;
}

.content {
  float: right;
  width: 70%;
  padding-right: 30px;
}

.logo {
  pointer-events: none;
  height: 100%;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: 3s linear 1s infinite alternate slidein;
  }
}

@keyframes slidein {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}